# --- IDE Settings ---
.idea/
.vscode/
*.swp
*.swo

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Operating System ---
.DS_Store
Thumbs.db